/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  /* RESET  ENDS*/

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header {
    text-align: center;
    font-size: 32px;
    margin-bottom: 10px;
}
 main {
    display: flex;
    justify-content: center;
    flex:1;
    flex-wrap: wrap;
    gap: 10%;
    margin-bottom: 10px;
 }
.containerButtons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: grey;
    border-radius: 12px;
    padding: 10px;
    max-height: 550px;
}

button {
    padding: 15px;
    border-radius: 12px;
    background-color: #393e46;
    color: #ddd;
    font-size: 24px;
}
button:hover {
    background-color: #4a4f57;
    transform: scale(1.1);
}

.containerGrid {
    width: 550px;
    height: 550px;
    /* border: 3px solid black; */
    box-shadow: 10px 10px 25px 10px grey;
    display: flex;
    flex-wrap: wrap;
}

/* JS FUNCTION ADDED DIVS */
.addedDiv {
background-color: #04AA6D;
border: 2px solid rebeccapurple;
/* box-sizing: border-box;
flex: 1;
flex-wrap: wrap;
flex-direction: column; */
}

#slidecontainer {
    text-align: center;
    font-size: 24px;
    color: #393e46;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Round Slider */
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #393e46;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
  }
/* Round Slider  ENDS */

footer {
    padding:5px;
    font-size: 20px;
    color: #ddd;
    background-color: grey;
    text-align: center;
    margin-bottom: auto;
  }